* {
  box-sizing: border-box;
}

:root {
  --slideup-container-height: 7%;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  margin: 0;
}

.slideup-modal-host {
  position: relative;
  height: 100%;
  width: 100%;
}

.modal__bg {
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 1s ease-in-out;
  pointer-events: none;
}

.slideup__container {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  height: var(--slideup-container-height);

  border-radius: 10vmin 10vmin 0 0;
  border: 0.3vmin solid rgba(0, 0, 0, 0.4);
  background-color: rgba(27, 27, 27, 1);
}

.slideup__btn {
  position: absolute;
  top: 32px;
  height: 0.8vmin;
  width: 30vmin;
  background-color: rgba(27, 27, 27, 1);
  box-shadow: 2px 2px rgba(60, 60, 60, 1), -2px -2px rgba(0, 0, 0, 1);
  z-index: 2;
  cursor: pointer;
}

.slide-up-anim {
  animation: slide-up-anim 0.5s ease-in-out forwards;
}

@keyframes slide-up-anim {
  0% {
    height: var(--slideup-container-height);
  }
  50% {
    height: 1%;
  }
  100% {
    height: 58%;
  }
}

.slide-down-anim {
  animation: slide-down-anim 0.5s ease-in-out forwards;
}

@keyframes slide-down-anim {
  0% {
    height: 58%;
  }
  50% {
    height: 65%;
  }
  100% {
    height: var(--slideup-container-height);
  }
}
